<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="timeline.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="timeline.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="outer">
        <header>
            <img src="header.png" alt="">
        </header>
        
        <nav>

            <div id="dummy_div">
                <a href="/">
                    Home Page
                </a>
                <a href="/search_page">
                    Search page
                </a>


                <a href="/timeline">
                    Timeline
                </a>
            </div>


            <a href="">
                Help
            </a>


        </nav>
        <h1> Global timeline</h1>

        <main>

        </main>

        <footer>
            <h5>
                Copyright © Your Website 2022
            </h5>
            <img src="footer.png" alt="">
        </footer>
    </div>
</body>
</html>